# ==============================================================================
# FINAMGMT - ENVIRONMENT
# ==============================================================================

# --- DATABASE ---
FINMGMT_POSTGRES_DB=<your_database_name>
FINMGMT_POSTGRES_USER=<your_database_user>
FINMGMT_POSTGRES_PASSWORD=<your_database_password>
FINMGMT_POSTGRES_HOST=localhost
FINMGMT_POSTGRES_PORT=5432

# --- TIMEZONE ---
TIMEZONE=America/Sao_Paulo
